name: Test
on:
  push:
    branches:
      - main
  pull_request:


jobs:
  clippy:
    name: Clippy
    runs-on: soulsmods-runner
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy
      - run: cargo clippy --workspace --all-targets --all-features -- -Dwarnings
        
  fmt:
    name: Formatting
    runs-on: soulsmods-runner
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy
      - run: cargo fmt --all --check

  test:
    name: Test
    runs-on: soulsmods-runner
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy
      - run: ls -R /opt/test-data/elden-ring
      - run: cargo test --workspace --all-features
        env:
          ER_PATH: /opt/test-data/elden-ring/Game